@mixin outline($color) {
	outline-offset: -2px;
	transition-timing-function: ease-in-out;
	transition-duration: 0.2s;
	transition-property: outline-offset;

	&:focus {
		outline: 3px solid $color;
		outline-offset: 0;
	}
}

@mixin scaleOnHover($size) {
	transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1);
	transition-duration: 0.7s;
	transition-property: scale;

	&:hover {
		scale: $size;
	}
}

/* Свойства которые прячут элемент со страницы
 * для его дальнейшей анимации с помощь JS GSAP
 * а именно появления с помощью значения "autoAlpha: 0"
 * в случае выключенного JS, элемент становится видимым
 */
@mixin initialHidden() {
	visibility: hidden;

	@media (scripting: none) {
		visibility: visible;
	}
}