---
import AnimatedHeading from "../AnimatedHeading.astro"
import Link from "../Link.astro";
---

<section
	id="about-us"
	class="section-block"
	data-theme="light"
>
	<div class="container">
		<AnimatedHeading class="about-us__heading" title="О Нас" tag="h1"/>
		<div class="about-us">
			<p>Компания <b>&laquo;РОСМЕБЕЛЬ&raquo;</b> уже более 14 лет на рынке производства мебели на заказ. Мы предлагаем своим клиентам высококачественные и уникальные решения для любых типов помещений. Наша фабрика сочетает современные технологии и мастерство, что позволяет создавать мебель, соответствующую самым высоким стандартам качества.</p>
			<p><b>&laquo;РОСМЕБЕЛЬ&raquo;</b> – ваш надежный партнер в создании идельного интерьера. Обратитесь к нам, и мы воплотим ваши самые смелые идеи в жизнь.</p>

			<Link
				class="about-us__link"
				href="/rosmebeli/about"
				appearance="button"
				icon="arrow-right"
			>Подробнее</Link>
		</div>
	</div>
</section>

{/* GSAP animations */}
<script>
	function init() {
		gsap.from(".about-us", {
			opacity: 0,
			xPercent: 300,
			duration: 2,
			ease: "sine",
			scrollTrigger: ".about-us"
		});
	}

	window.addEventListener("load", init);
</script>

<style lang="scss">
	@import "../../styles/_breakpoints.scss";

	section {
		overflow: hidden;
	}

	.container {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
	}

	.about-us {
		grid-column: 1 / -1;

		&__heading {
			grid-column: 1 / -1;
			align-self: baseline;
		}

		&__link {
			margin-top: 2.25rem;
		}

		@include breakpoint(md) {
			grid-column: span 9;

			&__heading {
				grid-column: span 3;
			}

			&__link {
				margin-top: 3rem;
			}
		}

		@include breakpoint(lg) {
			grid-column: 6 / -2;

			&__heading {
				grid-column: 2 / 6;
			}
		}
	}
</style>