---
import { getCollection } from "astro:content";
import type { CollectionEntry } from 'astro:content';
type ReviewsType = CollectionEntry<'reviews'>

import AnimatedHeading from "../AnimatedHeading.astro";
import Review from "../Review.astro";

const allReviews = await getCollection("reviews");
---
<section
	id="reviews"
	class="section-block"
	data-theme="light"
>
	<div class="container">
		<AnimatedHeading class="reviews-heading" title="Отзывы Наших Клиентов" />

		<swiper-container
			id="reviews-slider"
			autoplay="true"
			loop="true"
			pagination="true"
			direction="vertical"
		>
			{allReviews.map((review: ReviewsType) => (
				<swiper-slide>
					<Review {...review.data} />
				</swiper-slide>
				))
			}
		</swiper-container>
	</div>
</section>

<script>
	import type { SwiperContainer } from 'swiper/element/bundle';

	const slider = document.getElementById('reviews-slider') as SwiperContainer;


	if (slider) {
		Object.assign(slider, { autoplay: { delay: 5000 }});
	}
</script>

<style lang="scss">
	@import "../../styles/_breakpoints.scss";

	section {
		--section-bottom-padding: 0;
	}

	swiper-container {
		background-color: var(--clr-secondary-100);
	}

	swiper-slide {
		display: flex;
		place-items: center;
		place-self: center center;

		width: 100%;
		max-width: 80ch;
	}

	.reviews-heading {
		text-align: center;
	}

	#reviews-slider {
		height: 33rem;

		@include breakpoint(xl) {
			height: 23rem;
		}
	}
</style>