---
import Steps from "../Steps.astro";
import type { StepProps } from "../Steps.astro";

import AnimatedHeading from "../AnimatedHeading.astro";

const steps: StepProps[] = [
	{
		icon: 'feature_measure',
		title: 'Замер',
		text: 'Вы оставляете заявку на сайте или звоните нашему менеджеру. К вам в удобное для вас время бесплатно выезжает дизайнер-замерщик мебели и рассчитывает габариты проектируемой мебели.'
	},
	{
		icon: 'feature_project',
		title: 'Проект',
		text: 'Мы предоставляем вам на рассмотрение 3 дизайн проекта на выбор. Помогаем определиться с выбором материалов для вашей мебели и составляем смету.'
	},
	{
		icon: 'feature_closet',
		title: 'Изготовление',
		text: 'На нашем заводе мы создаем проект вашей мечты в оговоренные сроки. Тщательно следим за качеством и комплектацией проекта.'
	},
	{
		icon: 'feature_delivery',
		title: 'Доставка',
		text: 'Бесплатно доставляем по Москве и Московской области и собираем готовую мебель. Предоставляем гарантию на 36 месяцев.'
	}
]
---

<section class="section-block" data-theme="light">
	<div class="container container-grid">
		<AnimatedHeading
			class="container-grid__heading container-grid__heading--centered"
			title="Этапы работ"
			tag="h2"
		/>
		<Steps steps={steps} class="container-grid__content" />
	</div>
</section>

<style>
	.section-block {
		--section-top-padding: 0;
		--section-bottom-padding: 0;

		overflow: hidden;
	}
</style>