---
import Layout from "../layouts/BaseLayout.astro";
---

<Layout title="О нас | РОСМЕБЕЛЬ">
	<main>
		<section class="section-block">
			<div class="container">
				<h1>О нас</h1>
			</div>
		</section>
	</main>
</Layout>