---
import Layout from "../layouts/BaseLayout.astro";
---

<Layout title="О нас | РОСМЕБЕЛЬ">
	<main data-theme="light">
		<section class="section-block">
			<div class="container container-grid">
				<div class="about-us">
					<h1>О нас</h1>

					<p>Компания <b>&laquo;РОСМЕБЕЛЬ&raquo;</b> уже более 14 лет на рынке производства мебели на заказ. Мы предлагаем своим клиентам выскокачественные и уникальные решения для любых типов помещений. Наша фабрика сочетает современные технологии и мастерство, что позволяет создавать мебель, соответствующую самым высоким стандартам качества.</p>
					<p>Вы можете заказать шкафы, кухни, тумбы, стеллажи и многое другое в любом стиле: от классики до современного минимализма. Наши дизайнеры помогут вам определиться со стилем и разработают индивидуальный дизайн-проект, который полностью удовлетворит ваши потребности.</p>
					<h2>Наши принципы</h2>

					<ol>
						<li>
							<p><b>Индивидуальный подход</b></p>
							<p>Мы учитываем все пожелания клиента, особенности планировки и дизайнерские идеи, создавая мебель, идеально подходящую для вашего пространства.</p>
						</li>
						<li>
							<p><b>Высокое качество</b></p>
							<p>В производстве используются только проверенные материалы от ведущих мировых производителей (EGGER, Kronospan) – ЛДСП, МДФ, массивы ценных пород дерева и другие.</p>
						</li>
						<li>
							<p><b>Надежность и долговечность</b></p>
							<p>Наша мебель отличается прочностью и долговечностью благодаря строгому контролю качества на всех этапах производства.</p>
						</li>
						<li>
							<p><b>Достуность</b></p>
							<p>Отсутствие посредников и собственное производство позволяет нам предлагать конкурентные цены, делая качественную мебель доступной каждому.</p>
						</li>
						<li>
							<p><b>Гарантии</b></p>
							<p>Мы уверены в качестве нашей продукции и предоставляем гарантию на весь ассортимент произведенной мебели сроком в 36 месяцев.</p>
						</li>
					</ol>

					<h2>Почему выбирают нас?</h2>

					<ul>
						<li>Более 14 лет на рынке</li>
						<li>Индивидуальные решения для каждого клиента</li>
						<li>Широкий ассортимент материалов</li>
						<li>Высокое качество материалов и исполнения</li>
						<li>Конкурентные цены без переплат</li>
					</ul>

					<h2>Как мы работаем?</h2>

					<ol>
						<li>
							<p><b>Обращение клиента:</b></>
							<p>Вы связываетесь с нами для консультации.</p>
						</li>
						<li>
							<p><b>Замеры и задание:</b></p>
							<p>Наши специалисты проводят замеры и составляют техническое задание.</p>
						</li>
						<li>
							<p><b>Дизайн-проект:</b></p>
							<p>Мы разрабатываем 3 индивидуальных дизайн-проекта предоставляя вам выбор.</p>
						</li>
						<li>
							<p><b>Производство и доставка:</b></p>
							<p>После утверждения проекта, мы изготавливаем мебель и доставляем её по указанному адресу абсолютно бесплатно.</p>
						</li>
					</ol>

					<p><b>&laquo;РОСМЕБЕЛЬ&raquo;</b> – ваш надежный партнер в создании идельного интерьера. Обратитесь к нам, и мы воплотим ваши самые смелые идеи в жизнь.</p>
				</div>
			</div>
		</section>
	</main>
</Layout>

<style lang="scss">
	@import "../styles/_breakpoints.scss";

	strong {
		color: var(--clr-pastel-red);
		text-decoration: underline;
	}

	ul {
		list-style-type: "- ";
	}

	.about-us {
		grid-column: 1 / -1;
		text-align: justify;
		text-wrap: pretty;

		@include breakpoint(xl) {
			max-width: 80ch;
			margin: 0 auto;
		}
	}

</style>