---
import Layout from "../layouts/BaseLayout.astro";

import Hero from "../components/sections/Hero.astro";
import About from "../components/sections/About.astro";
import Partners from "../components/Partners.astro";
import Features from "../components/sections/Features.astro";
import StagesOfWork from "../components/sections/StagesOfWork.astro";
import Catalog from "../components/sections/Catalog.astro";
import Blog from "../components/sections/Blog.astro";
import Reviews from "../components/sections/Reviews.astro";
import Questions from "../components/sections/Questions.astro";
import Contacts from "../components/sections/Contacts.astro";

---

<Layout title="Мебель под заказ | РОСМЕБЕЛЬ">
  <main>
    <Hero />
    <About />
    <Partners />
    <Features />
    <StagesOfWork />
    <Catalog />
    <Blog />
    <Reviews />
    <Questions />
    <Contacts />
  </main>
</Layout>

