---
import Layout from "../layouts/BaseLayout.astro";

import Breadcrumbs from "../components/Breadcrumbs.astro";
---

<Layout title="Услуги | РОСМЕБЕЛЬ">
	<main data-theme="light">
		<section class="section-block">
			<div class="container container-grid">
				<Breadcrumbs class="container-grid__heading" currentPage="Услуги"/>
				<h1 class="container-grid__heading">Услуги</h1>

				<div class="service service__measurer">
					<h2>Выезд замерщика</h2>
					<p>Наша компания предоставляет абсолютно бесплатную услугу выезда замерщика. Мастер выезжает в удобное для вас время и осуществляет консультацию на месте.</p>

					<p><b>Важные пункты о замере:</b></p>
					<ol>
						<li>
							<p><b>Бесплатный выезд специалиста</b></p>
							<p>Для этого необходимо созвониться с менеджерами и уточнить точное время приезда мастера.</p>
						</li>
						<li>
							<p><b>Осуществление консультации на месте</b></p>
							<p>Благодаря специалисту, который предварительно обмеряет уголок, где будет находиться заказанная мебель, вы получаете консультацию. Она поможет четко понять, чего вы хотите и как будет смотреться данный вид мебели на этом месте.</p>
						</li>
						<li>
							<p><b>Отсутствие ошибок в процессе снятия размеров</b></p>
							<p>Все замеры проводятся в нескольких точках помещения, что позволяет уверенно подготовиться к грядущей установке. Это также поможет сократить время сборки.</p>
						</li>
						<li>
							<p><b>Четкий подбор материалов</b></p>
							<p>Специалист во время замеров приезжает с образцами материалов, которые применяются во время изготовления мебели. Так заказчику намного проще определиться, ведь сразу видно, будет ли мебель гармонично сочетаться с цветом пола, стенами и освещением в помещении.</p>
						</li>
						<li>
							<p><b>Точная сумма товара</b></p>
							<p>Уже после всех замеров и составления дизайна мебели, специалист отправляет все данные на фабрику. Далее Вам сообщают о точной цене будущего мебельного изготовления. Для большинства заказчиков это очень важно, так как каждый рассчитывает на свое финансовое положение.</p>
						</li>
						<li>
							<p><b>Исключение неожиданностей во время сборки мебели</b></p>
							<p>Каждое из помещений всегда преподносит какие-то сюрпризы: трубы, которые идут вдоль стены, вентиляционные коробки и решетки, коридоры с крутыми поворотами или же совсем узкие двери. Именно поэтому, такие серьезные замечания нужно учитывать в процессе проектирования. Подобные моменты могут значительно усложнить процесс сборки мебели.</p>
						</li>
						<li>
							<p><b>Отсутствие обязательств со стороны заказчика</b></p>
							<p>Замер не обязывает ни одного клиента к срочному заключению договора, так как это очень важное решение, которое нужно хорошо обдумать. Задача специалистов компании – предоставление необходимой информации, а далее уже дело за вашим выбором.</p>
						</li>
					</ol>

					<p>Выезд замерщика оформляется при помощи специальной формы на сайте (нажатие на кнопку "Вызвать замерщика") или по телефону: <a href="tel:+79671280200">+7 (967) 128-02-00</a>.</p>
				</div>

				<div class="service service__delivery">
					<h2>Доставка</h2>
					<p>Наша компания предоставляет бесплатную доставку по Москве и Московской области. Все риски связанные с порчей мебели при погрузке и транспортировке "до подъезда" мы берем на себя.</p>
					<p>Актуальную информацию о доставке в Ваш город можно узнать по телефону: <a href="tel:+79671280200">+7 (967) 128-02-00</a>.</p>
					<p>Доставка осуществляется по выходным, конкретный день доставки предварительно согласуется с заказчиком.</p>
				</div>

				<div class="service service__assembly">
					<h2>Сборка</h2>
					<p>Сборка мебели осуществляется на месте в день доставки. Основная цель сборки - передача заказчику мебели пригодной к применению. Сборка мебели включает в себя следующие этапы:</p>

					<ul>
						<li>размещение набора мебели в комнате;</li>
						<li>крепление мебели к необходимым поверхностям;</li>
						<li>исключение шатания и качания, регулирование мебели по неровной поверхности;</li>
						<li>регулирование основных подвижных механизмов и проверка их работы;</li>
						<li>настройка промежутков между определенными частями мебели.</li>
					</ul>

					<p>В сборку входят также остальные работы, которые объединены с приведением мебельной продукции в соответствующий вид и ее расположение к полному применению.</p>
					<p><strong>Очень важно понимать</strong>, что в процесс сборки мебели не входит вынос из квартиры старых конструкций, разборка предыдущей мебели, и остальные работы, которые напрямую не связаны с монтажом мебели в помещении.</p>
					<p>Окончательным этапом является вынос всего мусора из помещения, оставшегося после предыдущих процессов сборки.</p>
					<p><strong>Важно учитывать</strong>, что при заказе кухни или мебели с использованием сантехники – в обязанности сборщика не входит подключение сантехники. Для этого следует обратиться к специалистам в данной области!</p>
				</div>

				<div class="service service__credit">
					<h2>Кредит</h2>
					<p>Мы предоставляем клиентам возможность приобретения мебели в рассрочку без процентов и переплат. Срок рассрочки до 5 месяцев. Первый платеж вносится при оформелении заказа и составляет не менее 50% от стоимости изделия. Остаток выплачивается равными частями в течении последующих 5 месяцев.</p>
					<p>Для оформления заявки на получение рассрочки (кредита) необходимо предоставить паспорт гражданина Россиской Федерации.</p>
				</div>
			</div>
		</section>
	</main>
</Layout>

<style lang="scss">
	@import "../styles/_breakpoints.scss";

	strong {
		color: var(--clr-pastel-red);
		text-decoration: underline;
	}

	ul {
		list-style-type: "- ";
	}

	.service {
		grid-column: 1 / -1;

		max-width: 80ch;
		margin:0 auto 1.5rem;

		text-align: justify;
		text-wrap: pretty;

		@include breakpoint(xl) {
			grid-column: 1 / span 8;
			margin-bottom: 3rem;

			&:nth-of-type(2n) {
				grid-column: 5 / span 8;
			}
		}
	}

</style>