---
import Layout from "../layouts/BaseLayout.astro";
---

<Layout title="Услуги | РОСМЕБЕЛЬ">
	<main>
		<section class="section-block">
			<div class="container">
				<h1>Услуги</h1>

				<h2>Выезд замерщика</h2>
				<p>Описание...</p>

				<h2>Доставка</h2>
				<p>Описание...</p>

				<h2>Сборка</h2>
				<p>Описание...</p>
			</div>
		</section>
	</main>
</Layout>