---
interface Props extends astroHTML.JSX.FormHTMLAttributes {
	id: string;
};

import Input from './Input.astro';
import Button from './Button.astro';

const { id, class: className, ...rest } = Astro.props;
---

<form
	id={id}
	class:list={[
		"customer-form",
		className
	]}
	{...rest}
>
	<Input
		id=`${id}__customer-name`
		label="Ваше имя"
		type="text"
		name="name"
		placeholder="Как к Вам обращаться?"
		/>
		<Input
		id=`${id}__customer-phone`
		label="Ваш телефон"
		type="tel"
		name="phone"
		placeholder="Введите ваш телефон"
		mask="+7 (999) 999-99-99"
	/>
	<p class="agreement">Нажимая кнопку “Отправить” вы соглашаетесь на обработку
		<a href="/privacy" target="_blank" rel="noopener noreferrer" aria-label="Политика конфиденциальности">персональных данных</a>
	</p>
	<Button type="submit">Отправить</Button>
</form>

<script>
	const forms = document.querySelectorAll('.customer-form') as NodeListOf<HTMLFormElement>;

	forms.forEach((form) => {
		form.addEventListener('submit', (event) => {
			event.preventDefault();
			const method = form.getAttribute('method');

			// закрываем модальное окно при нажатии кнопки "Отправить"
			if (method === 'dialog') {
				const dialog = form.closest('dialog');
				dialog?.close();
			}

			const formData = new FormData(form);

			fetch("/send_email.php", {
				method: "POST",
				body: formData,
			}).then((response) => {
				if (!response.ok) {
					console.error('Произошла ошибка при отправке заявки.', response);
				}
				return response.json();
			}).then((data) => {
				if (data.success) {
					alert('Спасибо за заявку! Менеджер свяжется с Вами в ближайшее время.');
				} else {
					alert('Произошла ошибка при отправке заявки. Пожалуйста, повторите попытку позже.');
				}
				console.log(data.message);
			}).finally(() => {
				form.reset();
			});
		})
	})
</script>

<style lang="scss">
	.agreement{
		max-width: 50ch;
		text-wrap: pretty;
	}
</style>