---
interface Props extends astroHTML.JSX.InputHTMLAttributes {
  mask?: string;
  label?: string;
}

const { label, id, mask = null, ...rest } = Astro.props;
---

<div class="input-group">
  <input
    class="input-control"
    id={id}
    data-mask={mask}
    {...rest}
  />
  {
    label && (
      <label for={id} class="input-label label">
        {label}
      </label>
    )
  }
  <span class="input-message input-message--error"
    >Недопустимое значение поля. Пожалуйста, повторите ввод.</span
  >
  <span class="input-message input-message--required">Обязательное поле</span>
</div>

<script>
  import Inputmask from "inputmask";

  const maskedInputs = document.querySelectorAll(
    ".input-control[data-mask]"
  ) as NodeListOf<HTMLInputElement>;

  maskedInputs.forEach((input) => {
    Inputmask(input.dataset.mask || "").mask(input);
  });
</script>

<style lang="scss">
  .input {
    &-group {
      --input-group-gap: 0.9rem;

      display: flex;
      flex-direction: column;
      gap: var(--input-group-gap);

      margin: 1rem 0;

      accent-color: var(--accent-color);
    }

    &-label {
      order: 1;
      color: currentcolor;
      opacity: 0.75;
    }

    &-message {
      display: none;
      order: 3;

      margin-top: calc(var(--input-group-gap) * -1 + 3px);

      font-size: 11px;
      line-height: 16.5px;

      &--error {
        color: var(--clr-error);
      }

      &--required {
        color: var(--text-color-dim);
      }
    }

    &-control {
      order: 2;

      min-width: 18rem;
      max-width: 27rem;
      margin-bottom: 19.5px;
      padding: 0.5rem 0.5rem 0.65rem;

      line-height: 1.33;
      color: currentcolor;

      background-color: transparent;
      border: none;
      border-bottom: 1px solid var(--clr-400);

      &::placeholder {
        color: var(--text-color-dim);
      }

      &:focus-visible,
      &:hover {
        background-color: color-mix(in srgb, var(--clr-900) 15%, transparent);

        &::placeholder {
          color: currentcolor;
        }
      }

      &:disabled {
        cursor: not-allowed;
        background-color: color-mix(in srgb, var(--clr-400) 35%, transparent);
        border-color: var(--clr-400);
      }

      &:disabled,
      &:disabled::placeholder {
        color: color-mix(in srgb, currentcolor 55%, transparent);
      }

      &:not(:placeholder-shown) {
        border-color: var(--accent-color);
      }

      &:focus-visible {
        border-color: var(--clr-secondary-700);
        outline: none;
      }

      &:required {
        margin-bottom: 0;

        & ~ .input-label::after {
          content: "*";
        }

        & ~ .input-message--required {
          display: block;
        }

        &:invalid {
          &:not(:placeholder-shown) {
            border-bottom: 1px solid var(--clr-error);

            & ~ .input-message--required {
              display: none;
            }

            & ~ .input-message--error {
              display: block;
            }
          }

          &:focus-visible:empty {
            margin-bottom: 0;
            border-bottom: 1px solid var(--clr-error);

            & ~ .input-message--required {
              display: none;
            }

            & ~ .input-message--error {
              display: block;
            }
          }
        }
      }
    }
  }
</style>
