---
import Ticker from './Ticker.astro';
import { Icon } from 'astro-icon/components';

const PartnersList = [
	"blum",
	"egger",
	"boyard",
	"hettich",
	"kronospan",
	"slotex"
];
---
<section
	class="section-block"
	data-theme="light"
>
	<div class="container partners">
		<div class="partners__heading">
			<div class="pseudo-h4">Наши партнеры</div>
			<span></span>
		</div>
		<div class="partners__list">
			<Ticker
				gap={60}
			>
				{PartnersList.map((partner) => (
					<Icon name={`brand_${partner}`} title={partner} />
				))}
			</Ticker>
		</div>
	</div>
</section>

{/* GSAP animations */}
<script>
	const tl = gsap.timeline({ scrollTrigger: { trigger: ".partners", start: "top 100%" }, defaults:{ opacity: 0, ease: "linear" }});

	function init() {
		tl.from(".partners", { autoAlpha: 0, y: 250 })
	}

	window.addEventListener("load", init);
</script>

<style lang="scss">
	@import "../styles/_design.scss";

	.section-block {
		--section-top-padding: 0;
	}

	.partners {
		@include initialHidden();

		&__heading {
			display: flex;
			gap: 1.25rem;
			align-items: start;

			& span {
				flex-grow: 1;
				height: 0.95rem;
				border-bottom: 2px solid var(--clr-secondary-400);
			}
		}

		&__list {
			font-size: 2rem;

			[data-icon] {
				--brand-color: var(--clr-primary-100);

				color: var(--clr-primary-700);

				&:hover {
					--brand-color: unset;
				}
			}
		}
	}
</style>