---
import Ticker from './Ticker.astro';
import { Icon } from 'astro-icon/components';

const PartnersList = [
	"blum",
	"egger",
	"boyard",
	"hettich",
	"kronospan",
	"slotex"
];
---
<section
	class="section-block"
	data-theme="light"
>
	<div class="container">
		<div class="partners__heading">
			<h4>Наши партнеры</h4>
			<span></span>
		</div>
		<div class="partners__list">
			<Ticker
				gap={60}
			>
				{PartnersList.map((partner) => (
					<Icon name={partner} title={partner} />
				))}
			</Ticker>
		</div>
	</div>
</section>

<style lang="scss">
	.section-block {
		--section-top-padding: 0;
	}

	.partners {
		&__heading {
			display: flex;
			gap: 1.25rem;
			align-items: start;

			& span {
				flex-grow: 1;
				height: 0.95rem;
				border-bottom: 2px solid var(--clr-secondary-400);
			}
		}

		&__list {
			font-size: 2rem;

			[data-icon] {
				--brand-color: var(--clr-primary-100);

				color: var(--clr-primary-700);

				&:hover {
					--brand-color: unset;
				}
			}
		}
	}
</style>