---
import Rating from './Rating.astro';

import Card from './Card.astro';

import type { CollectionEntry } from 'astro:content';
type ReviewsType = CollectionEntry<'reviews'>;
type ReviewData = ReviewsType['data'];

interface Props extends ReviewData {};

const { name, city, rating, text } = Astro.props;
---

<Card
	class="review"
	filled
>
	<div class="review__content">
		<Rating rating={rating} />
		<p class="review__text">&laquo;{text}&raquo;</p>
	</div>
	<div class="review__author">
		<span class="review__name">{name}</span>
		<span class="review__city">{city}</span>
	</div>
</Card>

<style lang="scss">
	@import "../styles/_breakpoints.scss";

	.review {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: minmax(14rem, max-content) min-content;
		gap: 1rem;
		place-content: center;

		padding: 1rem 1.5rem;

		@include breakpoint(md) {
			padding: 3rem 2rem;
		}

		&__content {
			position: relative;

			display: flex;
			flex-direction: column;
			place-items: center;
			align-self: flex-end;

			padding: 1rem 1.5rem;

			background-color: var(--background-color);
			border-radius: 0.75rem;
			box-shadow: 0 4px 4px -2px rgb(24 39 75 / 8%), 0 2px 4px -2px rgb(24 39 75 / 12%);

			// triangle in the middle
			&::before {
				content: '';

				position: absolute;
				bottom: -1rem;
				left: 50%;
				transform: translateX(-50%);

				width: 0;
				height: 0;

				filter: drop-shadow(0 4px 2px rgb(24 39 75 / 8%)) drop-shadow(0 1px 0 rgb(24 39 75 / 12%));
				border-color: var(--background-color) transparent transparent transparent;
				border-style: solid;
				border-width: 1rem 1rem 0;
			}
		}

		&__text {
			text-align: center;
			text-wrap: pretty;
		}

		&__author {
			display: flex;
			flex-direction: column;
			gap: 0.25rem;
			place-items: center;

			margin-top: 0.5rem;
		}

		&__name {
			font-weight: 700;
		}

		&__city {
			font-size: 0.75rem;
		}
	}
</style>