---
interface Props extends astroHTML.JSX.HTMLAttributes {
	size?: "sm" | "md" | "lg";
}

const { size = "sm", class: className, ...rest } = Astro.props;
---
<span
	class:list={[
		"tag",
		`tag--${size}`,
		className
	]}
	{...rest}
>
	<slot />
</span>

<style lang="scss">
	.tag {
		display: inline-flex;
		gap: 0.25em;
		place-items: center;

		width: max-content;
		height: 1lh;
		padding: 4px 6px;

		font-family: var(--font-family-primary);
		font-weight: 700;
		color: var(--clr-100);
		text-transform: uppercase;

		background-color: var(--text-color-highlight);
		border-radius: 0.45em;
		box-shadow: 0 0.2em color-mix(in srgb, var(--text-color-highlight) 55%, var(--clr-900));

		&--sm {
			font-size: 0.65rem;
		}

		&--md {
			font-size: 0.85rem;
		}

		&--lg {
			font-size: 1.1rem;
		}
	}
</style>