---
import Layout from './BaseLayout.astro';

import Breadcrumbs from '../components/Breadcrumbs.astro';

const { frontmatter: fm } = Astro.props;
---

<Layout title=`${fm.title} | РОСМЕБЕЛЬ`>
	<main data-theme="light">
		<article class="section-block">
			<div class="container">
				<Breadcrumbs class="post__breadcrumbs" currentPage={fm.title}/>
			</div>
			<div class="container">
				<div class="privacy">
					<slot />
				</div>
			</div>
		</article>
	</main>
</Layout>

<style is:global lang="scss">
	.privacy {
		max-width: 80ch;
		margin-inline: auto;

		h1 {
			font-size: 2rem;
		}

		ol, ul {
			margin-bottom: 1rem;
			padding-left: 2ch;
			text-align: justify;
			text-wrap: pretty;

			li {
				margin-bottom: 1rem;

				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
</style>